#header { 
  background-color: #85E5D4;
  z-index: 1000;}
#main { 
  position:absolute; 
  top:10%; bottom:0; 
  left:0; right:45%;
  background-color: white;
  color: black;
  padding:1em 1em; }
#map { 
  position:absolute; 
  top:10%; bottom:0; 
  left:55%; right:0; 
  z-index: 0}

footer { 
    clear: both;
    position:fixed;
    bottom:0;
    height: 3em;
    margin-top: -3em;}

.not_authorized {
  font: 2em arial, sans-serif;
}

.table {
  color: black;
  font: 1.25em arial, sans-serif;  
}

.table-condensed {
  color: black;
  font: 1em arial, sans-serif;  
}

thead, tbody, tfoot {
  display: block;
}

th, td {
  width: 8em;
  text-align: left;
}

tbody.scrolly {
  height: 17em;       /* Just for the demo          */
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #66cd00;
  background-color: #000;
  z-index: 1000;
}

.logo {
    color: white;
}

.donate-page {
  background-color: white;
  color: black;}

input[type=date] {
       color: gray;
       width: 6.5em;}

input[type=text] {
       padding: 0.1em;
       color: gray;
       width: 90%;}

/*MAP STYLE INFO*/
/*
 * The path-start class is added to each line
 * to manage its animation - this interpolates
 * between the starting and ending values for the
 * stroke-dashoffset css property
 */
.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in-out;
     -moz-transition:stroke-dashoffset 5s ease-in-out;
       -o-transition:stroke-dashoffset 5s ease-in-out;
          transition:stroke-dashoffset 5s ease-in-out;
  }



