/*MAJOR SECTIONS SET UP*/
#header { 
  background-color: #00A8C6;
  top:0; bottom:90%;
  height: 7em;}
#main { 
  position:absolute; 
  top:15%; bottom:0; 
  left:0; right:45%;
  background-color: white;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;}
#map { 
  position:absolute; 
  top:15%; bottom:0; 
  left:55%; right:0; 
  z-index: 0}

/*MAJOR SETTINGS*/
body {
  overflow-x: hidden;}
footer { 
  clear: both;
  position:fixed;
  bottom:0;
  height: 2em;
  padding:0 0 1em 1em;}
p {
  margin: 0;
  padding-top: 0.3em; }

/*LINK STYLES & HEADER*/
a {
  color: #00A8C6;}
#header a {
  color: white;
  opacity: 0.5;}
#header a:hover {
  opacity: 1;
  background-color: #00A8C6;}
.top a {
  color: white;}
.navbar-right {
  margin-top: 1.5em;}
.logo {
    width: 15em;
    margin-left: 1em;
    margin-top: 1.3em}

/*MANAGE BOOTSTRAP COLS*/
.row {
  padding:0 0 0 1em;}
.top {
  padding:0 0 1em 1em;
  background-color: #8FBE00;
  color: white;
  height: 11em;}
.top p {
  opacity: 0.75;
  font-weight: 300;
  font-size: 1.1em;}

/*BOOTSTRAP BUTTON OVERRIDES*/
.btn-lg {
  background-color: #40C0CB;
  border-color: #40C0CB;
  padding: 5px 15px; }
.btn-lg:hover {
  background-color: #00A8C6;}
.btn-success {
  background-color: #AEE239;
  border-color: #AEE239; }
.btn-success:hover {
  background-color: #AEE239;}  
.btn-danger {
  background-color: #BE0060;
  border-color: #BE0060; }
.btn-danger:hover {
  background-color: #BE0060;}
.btn-sm { /*inside of last_col add/delete flights*/
  padding: 0;
  width: 5em;}

  /*TABLE STYLES AND OVERRIDES*/
.clickable-row:hover {
  cursor: pointer;
  color: #BE0060;}
.table-condensed {
  font-size: 1.1em;}
.details {
  margin-top: 1.5em;}
.summary {
  margin-top: -0.2em;
  font-size: 1.2em;}

thead, tbody, tfoot {
  display: block;}
th, td {
  width: 12em;}
tbody.scrolly {
  height: 17em; 
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;}  /* Hide the horizontal scroll */
.first_col {
  width: 6em;}
.results {
  width: 5.5em;
  text-align: right;}
.last_col {
  width: 5em;
  text-align: right;
  font-size: 1em;}

/*SUBHEADER STYLING (intro + dashboard)*/
#dash-table td:nth-child(1), #dash-table th:nth-child(1) {
    width: 50em;
    text-align: left;}
#dash-table tr:nth-child(2) td {
    vertical-align: top;}
#dash-table tr:nth-child(3) td {
    vertical-align: bottom;}
#dash-table td, #dash-table th{
  width: 10em;
  text-align: center;
  vertical-align: bottom;}
.year {
  font-size: 2em;
  font-weight: 400}

/*add-a-flight form in table*/
input[type=date] {
  color: gray;
  width: 3.7em;
  height: 1.8em;}
input[type=text] {
  color: gray;
  width: 90%;
  height: 1.8em;}

/*SEPARATE PAGES*/
.not_authorized {
  font-size: 2em;
  padding:1em 1em;}
.querying {
  text-align:right;
  font-size: 1.5em;}
.donate-page {
  background-color: white;
  color: black;}
.modal-content {
  width: 110%;
  font-family: 'Source Sans Pro', sans-serif;}

/*MAP STYLE INFO*/
/*
 * The path-start class is added to each line
 * to manage its animation - this interpolates
 * between the starting and ending values for the
 * stroke-dashoffset css property
 */
.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in-out;
     -moz-transition:stroke-dashoffset 5s ease-in-out;
       -o-transition:stroke-dashoffset 5s ease-in-out;
          transition:stroke-dashoffset 5s ease-in-out;}