/*SET UP MAJOR SECTIONS*/
#header { 
  background-color: #09B78E;
  top:0; bottom:90%;}
#main { 
  position:absolute; 
  top:9%; bottom:0; 
  left:0; right:45%;
  background-color: white;
  color: black;}
#map { 
  position:absolute; 
  top:9%; bottom:0; 
  left:55%; right:0; 
  z-index: 0}

/*LINK STYLES*/
a {
  color: #499C9A;
}
#header a{
  color: white;
}
  
/*MANAGE BOOTSTRAP COLS*/
.row {
  padding:1em 0em 1em 1em; 
}

.top {
  padding:1em 0em 1em 1em;
  background-color: #CFCFCF;
}

/*OTHER STYLES*/
body {
  overflow-x: hidden; 
}

footer { 
  clear: both;
  position:fixed;
  bottom:0;
  height: 2em;
  padding:0em 0em 1em 1em;
}

.wrapper {
  background-color: #FFE45C;
  display: block;
  height: 0.5em;
}

/*SUBHEADER STYLING (intro + dashboard)*/
.dash {
  font-size: 2em;
}

.donate {
  padding-right: 1.8em;
  float: right;
}

.year {
  font-size: 2em;
}
.logo {
    color: white;
}

/*TABLE STYLE*/
.table {
  color: black;
  font: 1.25em arial, sans-serif;  
}

.table-condensed {
  font: 1.1em arial, sans-serif;  
}

thead, tbody, tfoot {
  display: block;
}

th, td {
  width: 12em;}

tbody.scrolly {
  height: 17em; 
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

.first_col{
  width: 6em;
}
.results{
  width: 5.5em;
  text-align: right;
}
.last_col {
  width: 5em;
}

.btn-sm { /*inside of last_col */
  padding: 0;
}

/*add-a-flight form in table*/
input[type=date] {
       color: gray;
       width: 5em;}

input[type=text] {
       color: gray;
       width: 90%;}

/*SEPARATE PAGES*/
.not_authorized {
  font: 2em arial, sans-serif;
  padding:1em 1em;
}

.donate-page {
  background-color: white;
  color: black;}

.modal-content {
  width: 110%;
}

/*MAP STYLE INFO*/
/*
 * The path-start class is added to each line
 * to manage its animation - this interpolates
 * between the starting and ending values for the
 * stroke-dashoffset css property
 */
.path-start {
  -webkit-transition:stroke-dashoffset 5s ease-in-out;
     -moz-transition:stroke-dashoffset 5s ease-in-out;
       -o-transition:stroke-dashoffset 5s ease-in-out;
          transition:stroke-dashoffset 5s ease-in-out;
  }



