<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>AirAmends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js'></script>
     <script src='/static/main.js'></script>
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body>
    <!-- THE HEADER -->
    <div id="header"> 
      <nav class="navbar">
        <ul class="nav nav-pills">
          <li class="logo"><h2>AirAmends</h2></li>
          <li role="presentation" class="navbar-right"><a href={{g.link}}>{{g.status}}&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li role="presentation" class="navbar-right">{{g.mapdraw}}</li>
        </ul>
      </nav>
    </div>
      <!-- THE REPORTS AND INFORMATION -->
    <div id="main">
      {% if 'user_id' not in session %}
        <div id='logged-out'>
          <div class="not_authorized">
            <p> To see your flights and calculate your carbon emissions, you must authorize us to query your Gmail Account.</p>
            <form action="/login/" class="form-signin" id="getflights">
              <button class="btn btn-lg btn-success" type="submit">Authorize Google</button>
            </form><br>
            
            <form action="/demo" method="POST">
              <button class="btn btn-lg btn-warning" type="submit">Demo Site</button>
            </form>

          </div>
        </div>

      {% else %}
        <div id="info"> 
          <p style="text-align:right;">
            Currently querying for your flights...<img src="/static/airplane.gif">
          </p>
          <script>loadStuff('/get_flights')</script>
        </div>

      {% endif %}
    </div>
    <footer> 
      <a href="/about_calc" id="load-methods">How we Price and Calculate</a>
    </footer>
    <div id="modal-wrapper"></div>

  <!-- THE FLIGHT MAP -->
  <div id='map' class='dark'></div> 
  </body>
</html>