<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>AIR AMENDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js'></script>
     <script src='/static/main.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="donate-page">
    <div id="header"> 
      <nav class="navbar">
        <ul class="nav nav-pills">
          <li><img src="/static/AirAmendsLogo.png" class="logo"></li>
          <li class="navbar-right"><a href={{g.link}}>{{g.status}}&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
      </nav>
    </div>

    <span class="year">You have <a href="/">{{debt}}</a> Carbon Debt to Pay Off</span>

    <div align="center" id="donate-table">
        <table>
            <tr align="center">
               <td><a href="http://www.oceanconservancy.org/support-us/" target="_blank"><img src="https://i.vimeocdn.com/portrait/1098633_300x300.jpg"></a></td>
               <td><a href="https://rainforestactionnetwork.nationbuilder.com/donate" target="_blank"><img src="https://s3.amazonaws.com/webassets.ticketmob.com/TS/images/comedians/rainforst1.jpg"></a></td>
               <td><a href="https://secure2.edf.org/site/Donation2?df_id=15880&15880.donation=form1&addl_info=nav-button_/donate-online" target="_blank"><img src="http://www.beyondourrails.org/image/photo/905.jpg"></a></td>
            </tr>
            <tr align="center">
                <td><p>Seawater absorbs much of the carbon dioxide in the atmosphere resulting in increasing acidity that damages the basic building blocks of life needed by marine life. The Ocean Conservancy works across the United States to raise awareness of this threat and restore our coastal communities.<br><form action="http://www.oceanconservancy.org/support-us/" target="_blank"><button class="btn btn-lg btn-success">Choose</button></form></p></td>
                <td><p>The Rainforest Action Network protects the forests, their inhabitants, & the natural systems that sustain life by transforming the global marketplace through education, grassroots organizing, & non-violent direct action. Key foresty issues include Palm Oil, Pulp & Paer, Coal and Tar Sands.<form action="https://rainforestactionnetwork.nationbuilder.com/donate" target="_blank"><button class="btn btn-lg btn-success">Choose</button></form></p></td>
                <td><p>The Environmental Defense Fund believes smart climate protection laws will be a key part of a secure, healthy future. EDF campaigns concentrate on places & nonpartisan policies where we can make the biggest difference, advising decision-makers and taking legal action when needed.<form action="https://secure2.edf.org/site/Donation2?df_id=15880&15880.donation=form1&addl_info=nav-button_/donate-online" target="_blank"><button class="btn btn-lg btn-success">Choose</button></form></p></td>
            </tr>
        </table>
    </div>
</body>
</html>