<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>AIR AMENDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.3.2-dist/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <link href='//api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <script src='//api.tiles.mapbox.com/mapbox.js/plugins/arc.js/v0.1.0/arc.js'></script>
     <script src='/static/main.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="header"> 
      <nav class="navbar">
        <ul class="nav nav-pills">
          <li><img src="/static/AirAmendsLogo.png" class="logo"></li>
          <li class="navbar-right"><a href={{g.link}}>{{g.status}}&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
        </ul>
      </nav>
    </div>

    <div id="bodybody">
      <span class="year">We found the following flight confirmation emails for you:</span><br>
      <a href="/"> &#8656; Back to Total Summary</a>
  
      <table id="emails" class="table table-striped table-condensed details">
        <thead>
          <tr>
            <th class="e_col_1">Date</th>
            <th class="e_col_2">Sender</th>
            <th class="e_col_2">Subject</th>
          </tr>
        </thead>
        <tbody class="scrolly emails">
          {% for email in all_emails %}
          <tr>
            <td class="e_col_1">{{email.date}}</td>
            <td class="e_col_2">{{email.sender}}</td>
            <td class="e_col_2">{{email.subject}}</td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
  </div>
</body>
</html>