Our reports are generated off of the {{email_stats[0]}} flight confirmation emails we found for you. These emails range over the period {{email_stats[1]}} to {{email_stats[2]}}.<br><br>

<table >
    <tr>
        <th>Year</th>
        <th># of Flights</th>
        <th>CO2e<br>Emissions<br>(mt)</th>
        <th>Emissions<br>Value<br>(2015$)</th>
    </tr>
    
    {% for year in years_list %}
    <tr>
        <td><a href="/get_flights/{{year[0]}}">{{year[0]}}</td>
        <td>{{year[1]}}</td>
        <td>{{'%0.2f' % year[2]}}</td>
        <td>${{'%0.2f' % (year[2]*37)}}</td>
    </tr>
    {% endfor %}

    <tr>
        <th>TOTALS</th>
        <th>{{user_flights|length}}</th>
        <th>{{'%0.2f' % CO2e}}</th>
        <th>${{'%0.2f' % (CO2e*g.carbon_price)}}</th>
    </tr>
</table>

<br>
<form action="/flight_reset" method="POST">
    <button class="btn btn-lg btn-warning" type="submit">Reset all Flights</button>
</form>
<form action="/complete_reset" method="POST">
    <button class="btn btn-lg btn-danger" type="submit">Re-Query Gmail from Scratch</button>
</form>

<script>
  CO2ePrice = {{carbon_price}}.toFixed(2);
  carbonDebt = {{'%0.2f' % CO2e}}.toFixed(2);

  function setDashboard() {
    console.log("HEEEY");
    carbonPrice = ('$'+(carbonDebt*CO2ePrice).toFixed(2).toString());
    $("#carbon-debt").html(carbonDebt);
    $("#carbon-price").html(carbonPrice);
    $("#donate").html('<button class="btn btn-lg btn-success" onclick="window.location.href=\'/donate?carbon_debt='+carbonPrice+'\'">Donate!</button>');
    }

   setDashboard()
</script>