<div class="row top">
    <div class="col-lg-12">
        <table id="dash-table">
            <tr>
                <th class="year">{{first_year}}-{{last_year}}</th>
                <th>CO2e (mt)</th>
                <th>Carbon Debt</th>
            </tr>
            <tr>
                <td><p>Welcome to AirAmends, where you can price your personal travel carbon emissions. We found {{num_emails}} flight confirmation emails for you. Click on each year for a more detailed report.</p></td>
                <td class="year" id="carbon-debt"></td>
                <td class="year" id="carbon-price"></td>
            </tr>
            <tr>
                <td></td>
                <td>&nbsp;</td>
                <td id="donate"></td>
            </tr>
        </table>
    </div>
</div>
<!-- 
    <div class="col-lg-8">
        <span class="year">{{first_year}}-{{last_year}}</span>
        <p>We found {{num_emails}} flight confirmation emails for you!</p>
        <p>Click on each year for a more detailed report.</p>
    </div>
    <div class="col-lg-4">
        <div id="dashboard">
          <table>
            <tr>
                <th>CO2e (mt)</th>
                <th>&nbsp;Carbon Debt</th>
            </tr>
            <tr>
                <td id="carbon-debt" class="dash"></td>
                <td id="carbon-price" class="dash"></td>
            </tr>
          </table>
        <span id="donate" class="donate"></span>
        </div>
    </div>
</div> -->

<br>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-hover summary">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>Flights</th>
                    <th class="results">CO2e (mt)</th>
                    <th class="results">2015$</th>
                </tr>
            </thead>
            <tbody>
                {% for year, num_flights, total_CO2e in years_list %}
                <tr class="clickable-row" data-href="/get_flights/{{year}}">
                    <td>{{year}}</td>
                    <td class="flights" data-amt="{{num_flights}}">{{num_flights}}</td>
                    <td class="emiss results" data-amt="{{total_CO2e}}">{{'%0.2f' % total_CO2e}}</td>
                    <td class="priced results" data-amt="{{total_CO2e*g.carbon_price}}">${{'%0.2f' % (total_CO2e*g.carbon_price)}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>TOTAL</th>
                    <th id="fTotal"></th>
                    <th id="cTotal" class="results"></th>
                    <th id="mTotal" class="results"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>



<script>
  $(document).ready(function (){
    // Calculate and populate the totals for each results table
    addTotals();
    flightTotal();
    CO2ePrice = {{g.carbon_price}};
    carbonDebt = carbonDebt1;

    $(".clickable-row").click(function() {
        loadStuff($(this).data("href"));
        // window.document.location = $(this).data("href");
    });
});
</script>