{% extends 'base.html' %}
{% block body %}

Welcome to version 1.0<br><br>


{% if 'user_id' not in session %}

<p> To see your flights and calculate your carbon emissions, you must <a href="/login">sign in</a> with your Google ID. </p>

<!-- SHOW IMAGE OF SAMPLE ABILITIES OF TOOL -->

{% else %}

Okay, you ready for this?
<form action="/getflights" class="form-signin" method="GET" id="getflights">
    <button class="btn btn-lg btn-danger" type="submit">Get My Flights!</button>
</form>
<br>

{% endif %}


{% endblock %}