{% extends 'base.html' %}
{% block body %}
<script>var data = {{airports_json | safe}};</script>
<script src="/static/script.js"></script>

<h2>{{year}}</h2>
    Your flights found for {{year}} are displayed below. Please confirm the report is correct. You can delete flights you never took by hovering over the row. You can add flights that were missed by XXX.<br>
<!-- FIXME: this doesn't reload the page when it goes back tho -->
<a href="/getflights">Go Back</a> 

<br><br>
<table class="table table-striped" name="report" id="report">
    <tr class="info">
        <th>Purchased On:</th><th>Departing From:</th><th>Arriving In:</th><th>CO2e Emissions (mt)</th><th>Emissions Value (2015$)</th><th></th>
    </tr>
    
    <tr id="flightadd">
    <form name="flightaddform" id="flightaddform" method="GET">
        <td><label for="date"></label><input type="date" value="{{year}}-06-01" name="purchase_date" class=""></td>
        <td><label for="depart"></label><input type="text" name="depart" id="depart"></td>
        <td><label for="arrive"></label><input type="text" name="arrive" id="arrive"></td>
        <td>-</td>
        <td>-</td>
        <td><button type="submit" class="btn btn-success" id="flightsubmit">&nbsp;&nbsp;&nbsp;ADD&nbsp;&nbsp;&nbsp;</button></td>
    </form>
    </tr>
    
    {% for flight in results_list %}
    <tr id={{"row-%d" % flight[4]}}>
        <td>{{flight[0]}}</td>
        <td>{{flight[1]}}</td>
        <td>{{flight[2]}}</td>
        <td class="emiss">{{'%0.2f' % flight[3]}}</td>
        <td class="priced">${{'%0.2f' % (flight[3]*g.carbon_price)}}</td>
        <td><button type="button" class="btn btn-danger" style="visibility: hidden" id="{{flight[4]}}" onclick="deleteFlight('{{flight[4]}}', '{{'row-%d' % flight[4]}}')">DELETE</button></td>
    </tr>
    {% endfor %}
        
    <tr class="info">
        <th>TOTALS</th>
        <th></th>
        <th></th>
        <th id="cTotal"></th>
        <th id="mTotal"></th>
        <th></th>
    </tr>
</table>
<br><br><br><br>

{% endblock %}