
<script>
    //Data to feed airport names into drop-down add flights form
    var data = {{airports_json | safe}};
</script>
<script src="/static/useredits.js"></script>

<h2>{{year}}</h2>
<p>
    Your flights found for {{year}} are displayed below. Please confirm the report is correct. It is possible your report is not accurate; you can delete flights you never took by hovering over the row. You can add flights that were missed by entering their information at the top of the table.<br>
</p>
<a href="/get_flights">Back to Summary</a><br><br>

<table name="report" id="report">
    <tr>
        <th>Purchased On:</th>
        <th>Departing From:</th>
        <th>Arriving In:</th>
        <th>CO2e Emissions (mt)</th>
        <th>Emissions Value (2015$)</th>
        <th></th> <!-- Empty spot for delete buttons -->
    </tr>
    
    <tr id="flightadd">
    <div name="flightadddiv" id="flightadddiv">
        <td><label for="date"></label><input type="date" value="{{year}}-06-01" name="purchase_date" class="form"></td>
        <td><label for="depart"></label><input type="text" name="depart" id="depart" class="form"></td>
        <td><label for="arrive"></label><input type="text" name="arrive" id="arrive" class="form"></td>
        <td>-</td>
        <td>-</td>
        <td><button class="btn btn-success" id="flightsubmit">&nbsp;&nbsp;&nbsp;ADD&nbsp;&nbsp;&nbsp;</button></td>
    </div>
    </tr>
    
    {% for flight_id, date, depart, arrive, CO2e in results_list %}
    <tr id={{"row-%d" % flight_id}}>
        <td>{{date}}</td>
        <td>{{depart}}</td>
        <td>{{arrive}}</td>
        <td class="emiss" data-amt="{{CO2e}}">{{'%0.2f' % CO2e}}</td>
        <td class="priced" data-amt="{{CO2e*g.carbon_price}}">${{'%0.2f' % (CO2e*g.carbon_price)}}</td>
        <td><button type="button" class="btn btn-danger" style="visibility: hidden" id="{{flight_id}}" onclick="deleteFlight('{{flight_id}}', '{{'row-%d' % flight_id}}', '{{CO2e}}')">DELETE</button></td>
    </tr>
    {% endfor %}
        
    <tr>
        <th>TOTALS</th>
        <th></th>
        <th></th>
        <th id="cTotal"></th>
        <th id="mTotal"></th>
        <th></th>
    </tr>
</table>